@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Monoton&family=Kaushan+Script&display=swap');
body {
    margin: 0;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    width: 100;
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#blog {
    background: rgba(255, 255, 255, .65);
}

#cards {
    background: rgba(255, 255, 255, .65);
    box-shadow: 6px 6px 4px rgb(0, 0, 0);
    transition: .4s ease-in-out;
}

#cards:hover {
    box-shadow: 8px 8px 14px 2px rgb(165, 252, 255);
    transform: scale(1.11);
    background-color: rgba(255, 255, 255, .85);
    transition: .4s ease-in-out;
}

.card-img-top {
    /* max-height: 300px; */
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #333333;
    opacity: 0.8;
}

.loading {
    margin-left: 30%;
    margin-right: 30%
}

@media only screen and (max-width: 768px) {
    #form {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

@media only screen and (min-width:768px) {
    #blog {
        width: 70vw;
        margin: auto
    }
    #form {
        margin-left: 20vw;
        margin-right: 20vw;
    }
    .singleBlog {
        width: '90%'
    }
}

#form {
    background-color: rgba(255, 255, 255, .2);
    border-radius: .8rem;
    color: white
}

.background {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

.card-img-overlay {
    opacity: 0;
    transition: .3s ease-in-out;
    text-align: center;
    margin: 0;
}

.card-img-overlay:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .8);
    transition: .4s ease-in-out;
    color: white;
    padding-top: 45%;
}

#root .list-group-item {
    background-color: rgba(0, 0, 0, 0);
}

.likes {
    transition: 0.3s ease-in-out;
}